html {
    min-height: 100%;
    
  }
  
  body {
    background-image: linear-gradient(
      rgba(241, 184, 199, 0.966),
      rgb(235, 130, 130)
    );
  }
  
  div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.911);
    padding: 20px;
    margin-left: 30%;
    animation-name: slideDown;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  
  /* #addTaskBtn { 
  
      
  }*/
  
  /* #addTaskBtn:hover { 
      animation-name: rainBow;
      animation-delay: 5s;
  }
  */
  
  .completed {
    text-decoration: line-through;
    transition: 1s;
    color: grey;
  }
  
  .trashCan {
    margin-left: 15px;
  }
  
  .trashCan:hover {
    text-decoration: none;
    
  }
  
  h1 {
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1.8s;
    font-family: none;
  }
  
  small {
    margin-left: 40%;
    animation-name: fadeIn;
    animation-duration: 2s;
  }
  button {
      animation-name: fadeIn;
    animation-duration: 2.1s;
    background-color: lightgray;
    color: black;
  }
  

  input {
    border-radius: 3px;
    margin-top: 2%;
    margin-left: 30%;
    animation-name: fadeIn;
    animation-duration: 2.1s;
    }
  
  p {
    font-size: 10px;
    padding-left: 150px;
    animation-name: fadeIn;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    color: red;
  }
  
  /* #clearAllBtn { 
      border-radius: 20px;
  } */
  
  ul {
    list-style-type: none;
    text-align: center;
  }
  
  span:hover {
    text-decoration: line-through;
  }
  
  li {
    animation-name: slideUp;
    animation-duration: 0.5s;
    cursor:pointer;
  }
  
 
  
  @keyframes slideUp {
    from {
      opacity: 0;
      margin-top: 10%;
    }
    50% {
      opacity: 0.5;
    }
  
    to {
      opacity: 1;
      margin-bottom: 0%;
    }
  }
  
  @keyframes slideDown { 
    from {margin-top: -20%;} 
    10%{opacity: 0.5;}
    20%{opacity: 0.5;}
    30%{opacity: 0.5;}
    50% {opacity: 0.5;}
    60% {opacity: 0.7;}
    80% {opacity: 0.8; margin-top:5%; }
    to {margin-top: 0%;}
  } 
  
/* Rippade */

  /* @keyframes slideDown {   
    0% {
      transform: translateY(-80%);
    }
    50% {
      transform: translateY(30%);
    }
  
    100% {
      transform: translateY(0);
    }
   } */
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  