html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(rgb(248, 201, 201), rgb(255, 130, 129));
}

div {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 600px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.911);
  padding: 20px;
  margin-left: 30%;
  animation-name: slideDown;
  animation-duration: 0.7s;
}

/* #addTaskBtn { 

}*/

/* #addTaskBtn:hover { 
      animation-name: rainBow;
      animation-delay: 5s;
  }
  */

.completed {
  text-decoration: line-through;
  transition: 1s;
  color: grey;
}

.trashCan {
  margin-left: 15px;
  color: rgb(192, 189, 189);
}

.trashCan:hover {
  text-decoration: none;
}
.trashCan:active {
  color: black;
}

h1 {
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 1.8s;
  font-family: none;
}

small {
  font-size: medium;
  margin-left: 40%;
  animation-name: fadeIn;
  animation-duration: 2s;
}
p {
  color: red;
  font-style: oblique;
  font-size: 15px;
  font-weight: 550;
  padding-left: 200px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

p:empty {
  display: none;
}

button {
  height: 31px;
  width: 50px;
  animation-name: fadeIn;
  animation-duration: 2.1s;
  font-size: large;
}

input {
  height: 25px;
  width: 250px;
  font-size: large;
  margin-top: 2%;
  margin-left: 20%;
  animation-name: fadeIn;
  animation-duration: 2.1s;
  outline-color: rgb(81, 81, 235);
}

/* #clearAllBtn { 
      border-radius: 20px;
  } */

ul {
  list-style-type: none;
  text-align: center;
  padding-right: 60px;
}

li {
  animation-name: slideUp;
  animation-duration: 0.5s;
  cursor: pointer;
}

span:hover {
  text-decoration: line-through;
}

@keyframes slideUp {
  from {
    opacity: 0;
    /* margin-top: 10%; */
    transform: translateY(15px);
  }
  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
    /* margin-bottom: 0%; */
    transform: translateY(0px);
  }
}

/* Rippade */

@keyframes slideDown {
  0% {
    transform: translateY(-80%);
  }
  50% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


